name: Unit tests
on: push
jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm install
        working-directory: dnbcarnegie/carnegie-app
      - name: Run unit tests
        run: npm test
